body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrollbars on the main page */
}

.iframe-container {
    width: 100%;
    height: 100%;
}

iframe {
    border: none; /* Removes the default border around the iframe */
    width: 60%;
    height: 68%;
}